$font-stack:    Helvetica, sans-serif;
$primary-color: #666666;
$secondary-color: #39bced;
$tertiary-color: #e5018c;
$quaternary-color: #ffffff;
$header-font:700 150% viato, sans-serif;
$image-path: "/images";
$break-small: "(max-width: 700px)";
