// .my-kindlys-list {
//   list-style-type: none;
// }

ul {
  list-style-type: none;
  padding: 0;
}
.createdDate-buttons-container{
  margin-top: 20px;
}
.my-kindly-createdDate {
  font-weight: bold;
  padding: 10px 0;
}

.kindly-edit-field {
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

.my-kindly {
  margin-bottom: 20px;
}

.js-item-index-element {
  margin-top: 20px;
}
