button {
  cursor: pointer;
}


button:focus {
  outline:0;
}

.post-kindly-icon {
  height: 50px;
  vertical-align: middle;

}

.button-kindly-post {
  color: $secondary-color;
  font: $header-font;
  background: $quaternary-color;
  vertical-align: middle;
  border: none;
  padding: 0;
  margin-right: 10px;

  @media only screen and #{$break-small} {
      font-size: 0;
  }
}

.form-button, .login-button, .cancel-button, .my-account-button, .log-me-in, .delete-my-kindly, .edit-my-kindly, .cancel-kindly-edit, .submit-edited-kindly-button {
  height: auto;
  font-family: $font-stack;
  font-weight: bold;
  vertical-align: middle;
  border: none;
  padding: 20px;
  color: $quaternary-color;
  border-radius: 10px;

  @media only screen and #{$break-small} {
      font-size: 80%;
  }
}

.form-button, .log-me-in, .cancel-kindly-edit {
  width: 100%;
  background-color: $secondary-color;
  margin-bottom:10px;
  margin-top: 20px;
  @media only screen and #{$break-small} {
      font-size: 80%;
  }
}

.login-button, .delete-my-kindly, .edit-my-kindly {
  width: auto;
  background-color: $quaternary-color;
  color: $secondary-color;
  text-decoration: underline;
  margin-right: 10px;
  padding: 10px;
  @media only screen and #{$break-small} {
      padding: 8px;
      width: auto;
  }
}

.submit-kindly {
  width: 100%;
  color: $quaternary-color;
  font: $header-font;
  background: $tertiary-color;
  vertical-align: middle;
  padding: 10px;
  margin-top:10px;
  border-radius: 10px;
  border: none;


  @media only screen and #{$break-small} {
      width:100%;
      font-size: 90%;
  }
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    background-color: $quaternary-color;
    font-size: 150%;
    color: $primary-color;
    border: none;
    float: right;
    margin-bottom: 20px;

}

.kindly-post-button-group{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.submit-edited-kindly-button {
  width: 50%;
  background: $tertiary-color;
  float: right;
  margin:0;
}

.cancel-kindly-edit {
  width: 35%;
  float:left;
  margin:0;
}

.edit-button-group {
  margin-bottom: 30px;
}
