button {
  cursor: pointer;
}


button:focus {
  outline:0;
}

.post-kindly-icon {
  height: 50px;
  vertical-align: middle;

}

.button-kindly-post {
  color: $secondary-color;
  font: $header-font;
  float: right;
  background: $quaternary-color;
  vertical-align: middle;
  border: none;
  padding: 0;

  @media only screen and #{$break-small} {
      font-size: 0;
  }
}

.form-button, .login-button, .cancel-button {
  height: auto;
  font-family: $font-stack;
  font-weight: bold;
  vertical-align: middle;
  border: none;
  padding: 20px;
  color: $quaternary-color;
  border-radius: 10px;

  @media only screen and #{$break-small} {
      font-size: 80%;
  }
}

.form-button {
  width: 200px;
  background-color: $secondary-color;
}

.login-button {
  width: 100px;
  float: right;
  background-color: $secondary-color;
}

.submit-kindly {
  width: 60vw;
  color: $quaternary-color;
  font: $header-font;
  background: $tertiary-color;
  vertical-align: middle;
  padding: 10px;
  margin:10px;
  border-radius: 10px;
  border: none;

  @media only screen and #{$break-small} {
      width:90vw;
      font-size: 80%;
  }
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    background-color: $tertiary-color;
}
